h1 {
  font-family: arial;
  color: #c86a6a;
}

h3 {
  font-family: arial;
  color: #cf7d7d;
}

h4 {
  font-family: arial;
  color: #d68f8f;
}

p {
  font-family: arial;
}

div {
  font-family: arial;
}

a {
  font-family: arial;
  color:#dda2a2;
}
