h1 {
  font-family: klee;
  color: #ba4545;
  text-align: center;
}

h2 {
  font-family: klee;
  color: #c86a6a;
  text-align: center;
}

.h2border{

  border: 2px solid #e3b5b5;
  border-radius: 10px;
}

body {
  margin-left: 20px;
  margin-right: 20px;
}

#home {
  border-style: dotted;
}

h3 {
  font-family: klee;
  color: #cf7d7d;
  text-align: center;
}

h4 {
  font-family: klee;
  color: #d68f8f;
}

p {
  font-family: klee;
}

ul {
  font-family: klee;
}

.stylediv1 {
  border-style: solid;
  border-width: thick;
  border-color: #dda2a2;
  opacity: 0.5;
}

.stylediv2 {
  border-style: solid;
  border-width: medium;
  border-color: #dda2a2;
  opacity: 0.5;
}

.stylediv3 {
  border-style: solid;
  border-width: thin;
  border-color: #dda2a2;
  opacity: 0.5;
}

a {
  font-family: klee;
  color: #dda2a2;
}

/*nav {
  font-size: 56px;
  background-color: #b94646;
  opacity: 0.50;
}

nav a {
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Nanum Pen Script";
}

nav a:hover {
  background-color: #a63f3f;
  color: black;
}*/

.navHeader{
  font-size: 56px;
  background-color: #b94646;
  opacity: 0.50;
}

.navHeader a {
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-family: "Nanum Pen Script";
}

.navHeader a:hover{
  background-color: #a63f3f;
  color: black;
}

.ulSpecial {
  list-style: none;
  margin: 0;
  padding: 0;
}
