body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #800080;
  text-align: center;
  padding: 10px;
  border-style: dotted;
}

.div2 {
  border-width: medium;
  border-style: solid;
  opacity: 0.75;
}

button {
  background-color: #800080;
  color: white;
  border: none;
  padding: 20px 25px;
  font-size: 18px;
}

#result {
  font-size: 35px;
}
